<%inherit file="/body.html" />
<%namespace name="paging" file="/paging.html"/>
<%namespace name="categorylib" file="/gallery/categorylib.html"/>
<%
type_labels = {
'subject': 'Genre',
'location': 'Location',
}
%>

<%def name="body_class()"> shop</%def>

<%
def selected(var, match):
  v = request.GET.get(var)
  if v == match:
      return ' class="selected"'
  return ''
%>

<div class="container">
  <div class="leftpanel photo">
<%
header = ''
product = request.GET.get('filter')
if product == 'Print':
    header = header + 'Photos with Prints'
elif product == 'Greetings Card':
    header = header + 'Photos with Greetings Cards'
else:
    header = header + 'All photos'
if type == 'location':
    header = header + ' by Location'
elif type == 'subject':
    header = header + ' by Genre'
%>  
<h2>${header}</h2>

    <div class="details categories">
% if facet == 'location':
      <h3 style="margin-left: 10px">United Kingdom</h3>
      ${categorylib.render_subtree(allcategories[facet]['tree'], depth=0, section='uk')}
      <h3 style="margin-left: 10px">Overseas</h3>
      ${categorylib.render_subtree(allcategories[facet]['tree'], depth=0, section='overseas')}
      <h4><a href="${urls.new('/photos/subject').add_query('filter',product)}">View By Genre</a></h4>
% else:
    ${categorylib.render_subtree(allcategories[facet]['tree'])}
    
    <h4><a href="${urls.new('/photos/location').add_query('filter',product)}">View By Location</a></h4>
% endif
    </div>
  </div>
  <div class="main">

<div id="photos" class="clearfix">
${paging.stats(p,len(photos))}
${paging.paging(p)}

<div class="page">
  % for row in rows:
  <div class="productrow">
% for n,P in enumerate(row):
% if P:
<%
photo = P
count_class = ''
if n == 2:
    count_class = ' last'
width = photo['photo']['metadata']['width']
height = photo['photo']['metadata']['height']
id = photo['photo']['id']
ref = photo['photo']['doc_id']
product_code = products_by_photo[ref].replace('/','|')
elementwidth = int(float(259)*width/height)
def add_pageref(url):
    values = [value for name, value in urls.url.query_list if name == 'pageref']
    if values:
        url = url.add_query('pageref',values[0]) 
    values = [value for name, value in urls.url.query_list if name == 'filter']
    if values:
        url = url.add_query('filter',values[0]) 
    return url
u = urls.new('/%s/%s'%('photos','/'.join(urls.path_qs.split('/')[2:])))

%>
<div class="product${count_class}">
  <a href="${add_pageref(u.child(product_code))}"><img src="/filehandler/${ref}/${id}?size=2000x259" /></a>
  <a href="${add_pageref(u.child(product_code))}" style="width: ${elementwidth}px; display: block">${photo['title']}<br />${product_code}</a>
</div>
% endif
% endfor
</div>
% endfor
<div class="clearfix" id="bottom">
  ${paging.stats(p,len(photos))}
  ${paging.paging(p)}
</div>

</div>
</div>
</div>
</div>


<%def name="title()">Shop List!</%def>
