<%inherit file="/body.html" />
#### STATIC DATA AND MODULES ##############
<%namespace name="lib" module="examplesite.lib.makolib" />
<%!
from adminish import md
%>


#### DATA PREPARATION #####################


#### DEFINITIONS ##########################
<%def name="body_class()">home body-homepage</%def>
<%def name="page_title()">${page['metadata']['title']}</%def>
<%def name="page_description()">${page['metadata']['description']}</%def>
<%def name="page_keywords()">${page['metadata']['keywords']}</%def>


#### TEMPLATE #############################

<article class="photo">
<img class="photo" src="/images/graphic/homephoto-temp.png" />
<h1>Launching Attack - Siberia 2007</h1>
</article>
##	${md.md(page['body'])|n}


<section class="panel grid_3">
  <h1>Galleries</h2>
</section>

<section class="panel grid_6">
  <h1><a href="/news">News</a></h1>
% for newsitem in news:
  <article class="news summary">
    <header>
      <h1>${newsitem['title']}</h1>
      <h2>${lib.strford(newsitem['date'], 'dmy')}</h2>
    </header>
    <p>${newsitem['summary']} <a href="${urls.path_qs.child('news').child(newsitem['_id'])}">more</a></p>
  </article>
% endfor
</section>

<section class="panel grid_3">
aa
</section>


