<%inherit file="/body.html" />
#### STATIC DATA AND MODULES ##############
<%namespace name="lib" module="examplesite.lib.makolib" />
<%!
from adminish import md
%>


#### DATA PREPARATION #####################


#### DEFINITIONS ##########################
<%def name="body_class()">home body-homepage</%def>
<%def name="page_title()">${page['metadata']['title']}</%def>
<%def name="page_description()">${page['metadata']['description']}</%def>
<%def name="page_keywords()">${page['metadata']['keywords']}</%def>


#### TEMPLATE #############################
<section class="grid_12 first last">
<div class="grid_3 first">&nbsp;</div>
<div class="grid_9 last">
    ${md.md(page['body'])|n}
</div>
</section>

<section class="softpanel">
<div class="header"></div>
<div class="grid_3 first sidebar">
  <h2>Tweets</h2>
  <article class="tweet">
    <p><a href="#">@culturevultures</a> Ymmm I went to Hampton Court Flower Show last week and enjoyed lots of Pimms there too!</p>
    <time datetime="2009-08-03T12:34:23">about 21 hours ago</time>
  </article>
  <article class="tweet">
    <p><a href="#">@GDNLeeds</a> Thanks for the RT - how do I get in touch regarding a newsworthy local project that needs some awareness?
    <time datetime="2009-08-03T12:34:23">about 22 hours ago</time>
  </article>
</div>
<div class="grid_9 last maincolumn">

  <h2>Blog Extracts</h2>
  <article class="blog">
    <h3>Leeds Business Network Lunch August Workshop - Building Your Own Online Community</h3>
    <p>Your online credibility is an increasingly important way of showcasing
    your specialised knowledge and expertise which will build your online
    credibility. As more people engage with the social web differentiating
    yourself become imperative ... <a href="#" class="readmore">read full post</a></p>
  </article>
  <article class="blog">
    <h3>Boost Google Rankings by Participating in the Online Social Conversations</h3>
    <p>I came across an article today on E-Consultancy, Lifting Google Rank using
     social conversations which confirms this is the route which Google is
     going ... <a href="#" class="readmore">read full post</a></p>
  </article>
</div>
<div class="footer"></div>
</section>


<div class="grid_3 first sidebar">
    <img src="/images/graphic/socialmedia.png" class="socialmedia" />
</div>
<div class="grid_9 last maincolumn">
  <h2>On The Web</h2>
  <p>Your online credibility is an increasingly important way of showcasing
    your specialised knowledge and expertise which will build your online
    credibility. As more people engage with the social web differentiating
    yourself become imperative</p>
</div>


<section class="strongpanel">
<div class="header"></div>
<div class="grid_3 first sidebar">
    Technology House<br/>
    237 Lidgett Lane<br />
    Leeds<br />
    LS17 6QR<br />
    <div class="phones">
        tel: 0113 225 2500<br />
        mob: 07970 280 694
    </div>
</div>
<div class="grid_9 last maincolumn">
    blog
</div>
<div class="footer"></div>
</section>
