/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
  display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #3D7DAC;
    text-decoration: none;
    border-bottom: 1px dashed #A9CDE6;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*
  Variable Grid System.
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/

  Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.first {
  margin-left: 0;
}

.last {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

#page .grid_1 {
  width:60px;
}

#page .grid_2 {
  width:140px;
}

#page .grid_3 {
  width:220px;
}

#page .grid_4 {
  width:300px;
}

#page .grid_5 {
  width:380px;
}

#page .grid_6 {
  width:460px;
}

#page .grid_7 {
  width:540px;
}

#page .grid_8 {
  width:620px;
}

#page .grid_9 {
  width:700px;
}

#page .grid_10 {
  width:780px;
}

#page .grid_11 {
  width:860px;
}

#page .grid_12 {
  width:940px;
}



/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

#page .prefix_1 {
  padding-left:80px;
}

#page .prefix_2 {
  padding-left:160px;
}

#page .prefix_3 {
  padding-left:240px;
}

#page .prefix_4 {
  padding-left:320px;
}

#page .prefix_5 {
  padding-left:400px;
}

#page .prefix_6 {
  padding-left:480px;
}

#page .prefix_7 {
  padding-left:560px;
}

#page .prefix_8 {
  padding-left:640px;
}

#page .prefix_9 {
  padding-left:720px;
}

#page .prefix_10 {
  padding-left:800px;
}

#page .prefix_11 {
  padding-left:880px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

#page .suffix_1 {
  padding-right:80px;
}

#page .suffix_2 {
  padding-right:160px;
}

#page .suffix_3 {
  padding-right:240px;
}

#page .suffix_4 {
  padding-right:320px;
}

#page .suffix_5 {
  padding-right:400px;
}

#page .suffix_6 {
  padding-right:480px;
}

#page .suffix_7 {
  padding-right:560px;
}

#page .suffix_8 {
  padding-right:640px;
}

#page .suffix_9 {
  padding-right:720px;
}

#page .suffix_10 {
  padding-right:800px;
}

#page .suffix_11 {
  padding-right:880px;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

#page .push_1 {
  left:80px;
}

#page .push_2 {
  left:160px;
}

#page .push_3 {
  left:240px;
}

#page .push_4 {
  left:320px;
}

#page .push_5 {
  left:400px;
}

#page .push_6 {
  left:480px;
}

#page .push_7 {
  left:560px;
}

#page .push_8 {
  left:640px;
}

#page .push_9 {
  left:720px;
}

#page .push_10 {
  left:800px;
}

#page .push_11 {
  left:880px;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

#page .pull_1 {
  left:-80px;
}

#page .pull_2 {
  left:-160px;
}

#page .pull_3 {
  left:-240px;
}

#page .pull_4 {
  left:-320px;
}

#page .pull_5 {
  left:-400px;
}

#page .pull_6 {
  left:-480px;
}

#page .pull_7 {
  left:-560px;
}

#page .pull_8 {
  left:-640px;
}

#page .pull_9 {
  left:-720px;
}

#page .pull_10 {
  left:-800px;
}

#page .pull_11 {
  left:-880px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


body {
  font-size: 17px;
  line-height: 1.5em;
  color: #444;
  font-family: 'BodoniSvtyTwoITCTTBook', georgia, serif;
  background: #000 url(/images/bg/background.png);

}

#page {
  width: 990px;
  background-color: #FFF;
  margin: 0 auto 0 auto;
  position: relative;
  min-height:500px;
  height:auto !important;
  height:500px;
  -moz-box-shadow: 0px -40px 40px #444; /* Firefox F3.5+ */
  -webkit-box-shadow: 0px -40px 40px #444; /* Safari3.0+, Chrome */
  box-shadow: 0px -40px 40px #444; /* Opera 10.5, IE 9.0 */
}


h1 {
  font-size: 20px;
  font-family: 'BromwichAlternateRegular', georgia, serif;
  color: #265D91;
  font-weight: normal;
}

h1 a {
  text-decoration: none;
  color: #265D91;
}

nav {
  position: absolute;
  top: 126px;
  right: 772px;
  line-height: 1.7em;
  z-index: 1;
}

nav ul li {
  font-size: 19px;
  font-family: 'BromwichAlternateRegular', georgia, serif;
  list-style-type: none;
  text-align: right;
}
nav ul li ul {
  margin-top: 10px;
}

body nav ul li ul li {
  font-size: 13px;
  font-family: georgia, serif;
  list-style-type: none;
  text-align: right;
  color: red;
  line-height: 1.7em;
}


nav ul li a {
  text-decoration: none;
  color: #928286;
  padding-right: 0.6em;
  border-bottom: 0;
}


nav ul li ul li a {
  text-decoration: none;
  color: #928286;
  margin-right: 1.2em;
  border-bottom: 0;
  padding-right: 0;
}


nav ul li.selected a  {
  color: #4E7BA5;
  padding-right: 0em;

}

nav ul li.selected a:after, nav ul li.selectedpath a:after {
  font-size: 19px;
  content:' }';
  color: #4E7BA5;
  vertical-align: -2px;
}

nav ul li.selectedpath a:after, ul li.selected ul li a:after {
  font-size: 19px;
  content:'';
  color: #4E7BA5;
  vertical-align: -2px;
}

nav ul li.selected li a {
  color: #928286;
}

ul li {
  margin-left: 20px;
  list-style-type: circle;
}
nav ul li {
  margin-left: 0;
}

#masthead {
  background: url('/images/bg/airmail-header.png') no-repeat;
  height: 126px;
}

#masthead h1 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 337px;
  height: 65px;
  overflow: hidden;
  text-indent: -100em;
  background-image: url('/images/graphic/logo.png');

}

footer {
  font-size: 11px;
  font-family: 'BodoniSvtyTwoITCTTBook', georgia, serif;
  color: #666;
  padding-left: 240px;
  width: 630px !important;
  float: left;
  display: inline;
  line-height: 1.3em;
  margin: 20px 0;
  
}

section p {
  margin-bottom: 0.7em;
}

.softpanel .header {
  height: 13px;
  width: 990px;
  margin: 0 0 1em 0;
  padding: 0;
  float: left;
  display: inline;
  background: url('/images/bg/sawtooth-top-cream.png') no-repeat;
}
.softpanel .footer {
  height: 13px;
  width: 990px;
  margin: 1em 0 0 0;
  padding: 0;
  float: left;
  display: inline;
  background: url('/images/bg/sawtooth-bottom-cream.png') no-repeat;
}
.softpanel {
  background-color: #F9F9F2;
  width: 100%;
  float: left;
  display: inline;
}

.strongpanel .header {
  height: 13px;
  width: 990px;
  margin: 0 0 1em 0;
  padding: 0;
  float: left;
  display: inline;
  background: url('/images/bg/sawtooth-top.png') no-repeat;
}
.strongpanel .footer {
  height: 13px;
  width: 990px;
  margin: 1em 0 0 0;
  padding: 0;
  float: left;
  display: inline;
  background: url('/images/bg/sawtooth-bottom.png') no-repeat;
}
.strongpanel {
  background-color: #E8F1F4;
  width: 100%;
  float: left;
  display: inline;
}
.sidebar h2 {
  margin: 0 0 20px 40px;
  font-size: 20px;
  color: #3E678D;
  font-weight: normal;
  font-family: 'BromwichAlternateRegular', georgia, serif;
}
.maincolumn h2 {
  margin: 0 0 20px 0;
  font-size: 26px;
  color: #3E678D;
  font-weight: normal;
  font-family: 'BromwichAlternateRegular', georgia, serif;
}
.maincolumn h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #754C56;
  font-weight: normal;
  font-family: 'BodoniSvtyTwoSCITCTTBook', georgia, serif;
}

.sidebar article
{
  margin: 0 0 0 40px;
}

.blog .readmore {
  font-size: 15px;
  margin-left: 0.6em;
}

.tweet {
  font-size: 15px;
  line-height: 1.4em;
}
.tweet p {
  margin: 10px 0 0 0;
}
.tweet time {
 margin-bottom: 1em;
 font-size: 13px;
 color: #888;
}

.softpanel,
.strongpanel {
  margin: 1em 0 1em 0;
}

.socialmedia {
  margin: 40px 0 0 58px;
}

.vcard {
  font-size: 18px;
  margin-left: 40px;
  margin-bottom: 20px;
  line-height: 1.5em;
}
.vcard .url {
  border: 0;
  color: #444;
}
.vcard .tel,
.vcard .email {
  font-size: 13px;
}
.vcard .adr .type,
.vcard .adr .country-name,
.vcard .adr .region
{
  display: none;
}
.firstline {
  margin-left: -6px;
}

.contactme form ul {
  font-family:  georgia, serif;
  font-style: normal;
  font-weight: normal;
  color: #400;
  list-style: none;
  margin-bottom: 10px;
}

.contactme form {
  font-family: 'BradleyHandITCRegular', georgia, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: #265D90;
}
/* Thanks for huffduffer for the inspiration */
.contactme form input,
.contactme form textarea
 {
  background-color:transparent;
  color: #000;
  border-color: #CCCCCC;
  border-style:none none dashed;
  border-width:medium medium 1px;
  font-family: georgia, serif;
  font-style:normal;
  font-weight:normal;
  font-size: 13px;
  margin:0 0.5em;
}
#contact-message {
  background-color: #F3F9FA;
  padding: 5px 20px;
  border-color: #CCCCCC;
  border-style:none none dashed;
  border-width:medium medium 1px;
  width: 450px;
  height: 170px;
  margin-top: 10px;

  
}
#contact-name {
  width: 400px;
}
#contact-email {
  width: 370px;
}
#contact-action-submit {
  font-family:  'BodoniSvtyTwoITCTTBook', georgia, serif;
  color: #9B4646;
  border: 0;
  text-transform: uppercase;
  margin: 0;
  font-size: 15px;
}
#contact-action {
  font-family:  'BodoniSvtyTwoITCTTBook', georgia, serif;
  font-style: normal;
  color: #9B4646;
  border: 0;
  text-transform: uppercase;
  font-size: 17px;
  margin-left: 100px;
}
.content {
  min-height: 400px;
}
.path-contact .content {
  min-height: 200px;
}
