<%inherit file="/main.html" />
#### STATIC DATA AND MODULES ##############
<%!
import yaml
from menuish.menu import Navigation, create_sitemap
%>


#### DATA PREPARATION #####################


#### DEFINITIONS ##########################


#### TEMPLATE #############################
<div id="page" class="clearfix">

  <header id="masthead">
    <h1>Optimum Exposure - Internet Marketing and Social Media</h1>
  </header>

  <nav>
${Navigation(showroot=True, maxdepth=2).render_navigation(sitemap, request)|n,decode.utf8}
  </nav>

${next.body()}

  <footer class="grid_12 first last">
    Optimum Exposure is a trading name of Republic of Yorkshire Ltd, a company
    registered in England and Wales . Registered Number: 6813370.  Registered
    Office: Technology House, 237 Lidgett Lane, Leeds, LS17 6QR  
  </footer>

</div>
