<%inherit file="/main.html" />
#### STATIC DATA AND MODULES ##############
<%!
import yaml
from menuish.menu import Navigation, create_sitemap
sitemap_yaml = """
- [root, home, 1, {}]
- [root.about,about, 2, {}]
- [root.services,services, 3, {}]
- [root.contact,contact, 4, {}]
"""
sitemap = create_sitemap(yaml.load(sitemap_yaml))
%>


#### DATA PREPARATION #####################


#### DEFINITIONS ##########################


#### TEMPLATE #############################
<div id="page" class="clearfix">

  <header id="masthead">
    <h1>Optimum Exposure - Internet Marketing and Social Media</h1>
  </header>

  <nav>
${Navigation(showroot=True).render_navigation(sitemap, request)|n,decode.utf8}
  </nav>

${next.body()}

  <footer class="grid_12 first last">
    Optimum Exposure is a trading name of Republic of Yorkshire Ltd, a company
    registered in England and Wales . Registered Number: 6813370.  Registered
    Office: Technology House, 237 Lidgett Lane, Leeds, LS17 6QR  
  </footer>

</div>
