<%inherit file="/main.html" />
#### STATIC DATA AND MODULES ##############
<%!
import yaml
from menuish.menu import Navigation
%>
#### DATA PREPARATION #####################


#### DEFINITIONS ##########################


#### TEMPLATE #############################

<div id="page">

  <header>
    <h1>Ian McCarthy</h1>
    <nav>
${Navigation(showroot=True).render_navigation(sitemap, request)|n,decode.utf8}
    </nav>
  </header>

${next.body()}

  <footer>
    &copy; Ian McCarthy 2008
  </footer>


</div>
