<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%
body_class=' '.join(['path-%s'%s for s in urls.url.path_segments])
asset_domain = ''
css_prefix = 'live-'
%>


<%def name="title()">
% if hasattr(self, 'page_title'):
  ${self.page_title()} / Search Test Bed
% else:
  Search Test Bed
% endif
</%def>
<%def name="page_javascript()"></%def>
<%def name="page_jquery()"></%def>
<%def name="page_css()"></%def>
<%def name="body_class()"></%def>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta name="description" value="" n:render="meta_description" />
  <meta name="keywords" value="" n:render="meta_keywords" />
  <title>${self.title()}</title>
  <link href="${asset_domain}/css/reset-fonts-grids.css" type="text/css" rel="stylesheet" />
  <link href="${asset_domain}/css/formish.css" type="text/css" rel="stylesheet" />
  <link href="${asset_domain}/css/screen.css" type="text/css" rel="stylesheet" />
  <link href="${asset_domain}/css/paging.css" type="text/css" rel="stylesheet" />
  <script src="${asset_domain}/js/jquery-ui-1.8rc1/jquery-1.4.1.js" type="text/javascript"></script>
  <script src="${asset_domain}/js/jquery-ui-1.8rc1/ui/jquery.ui.core.js" type="text/javascript"></script>
  <script src="${asset_domain}/js/jquery-ui-1.8rc1/ui/jquery.ui.widget.js" type="text/javascript"></script>
  <script src="${asset_domain}/js/jquery-ui-1.8rc1/ui/jquery.ui.mouse.js" type="text/javascript"></script>
  <script src="${asset_domain}/js/jquery-ui-1.8rc1/ui/jquery.ui.sortable.js" type="text/javascript"></script>
  <script type="text/javascript">
  <!--//--><![CDATA[//><!--
  $(document).ready(function() {
  ${self.page_jquery()}
  });
  ${self.page_javascript()}
  //--><!]]>
  </script>
</head>

<body class="${body_class}${self.body_class()}">


  ${next.body()}

</body>
</html>
