<%!
from examplesite.lib import md
from menuish.menu import Navigation, create_sitemap
%>
##---------- Prepare Data
<%
if '~' in page['body']:
    cs = [p for p in page['body'].split('~') if p != '']
    body = '<div class="firstcolumn">%s</div><div class="column">%s</div>'%(md.md(request, cs[0]),md.md(request, cs[1]) )
else:
    body = md.md(request, page['body'])
%>
##---------- Definitions

<%def name="title()">${page['title']} - Joe Cornish Landscape Photography</%def>

##---------- Start of HTML

<%inherit file="/body.html" />

<div class="container">
  <div class="leftcolumn">
    <div id="subnav">
      ${Navigation(item_class=['firstlast','number'], openall=True, startdepth=1, showroot=True).render_navigation(sitemap, request)|n}
    </div>
  </div>
  <div class="main">
    <h1>${page['title']}</h1>
% if identity and identity.is_admin():
<div class="admin">
  <a href="/admin/page/${page['_id']}">Edit Page</a>
</div>
% endif
    ${body|n}
  </div>
</div>



