##---------- Prepare Data
##---------- Definitions

<%def name="title()">Page!!</%def>

##---------- Start of HTML

<%inherit file="/body.html" />

<div class="container">
  <div class="leftcolumn">
    <div id="subnav">
    </div>
  </div>
  <div class="main">
    <p>Thanks for purchasing for Joe Cornish Galleries - you will receive two emails, one from our payment processor confirming that your card has been authorised and one from Joe Cornish Galleries to say that we have confirmed your order.</p>
  </div>
</div>


